body{
    /* background-color: black; */
}

.random-div{
    background-color: teal;
    text-align: center;
}

/* Page container */
.general-container{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#0B1022, #181318, #211E2D);
}




/* Header - name + bkg img  + navbar*/
.header-container{
    background-image: linear-gradient(#21004A, rgba(174, 136, 255, 0.31) 40%, rgba(0, 0, 0, 0));
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.names-container{
    color: white;
    font-size: 7em;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    /* TODO: change font */
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}

/* Navbar - plus decorators */
.navbar-container{
    margin: 50px 0;
    color: white;
}

/* PersonalDetails - about me section */
.details-container{
    background-color: lightblue;
}

/* Projects - 3D works */
.projects3d-container{
    background-color: lightgreen;
}

/* Projects - games */
.games-container{
    background-color: lightcoral
}

/* Projects - art works */
.artworks-container{
    background-color: lightcyan;
}

/* Footer - credits: Dani */
.footer-container{
    background-color: lightpink;
}






